<%= render partial: "partials/doctor_header" %>

<div class="column-container">
  <br>
  <div class="">
    <%= link_to "Fall Risk Predictor", "/", id: "fall-button", class: "provider-tool-button" %>
    <%= link_to "Low Back Pain Predictor", "/", id: "back-pain-button", class: "provider-tool-button"  %>
  </div>
  <%= render partial: 'partials/fall_risk' %>
  <%= render partial: 'partials/back_pain' %>
</div>

<%= render partial: "partials/doctor_footer" %>
