<%= render partial: "partials/admin_header" %>

<div class="column-container-left">
  <div> <%= link_to "Patients Index", admin_patients_path %> </div><br>
  <div> <%= link_to "Doctors Index", admin_doctors_path %> </div><br>
  <div> <%= link_to "Exercises Index", admin_exercises_path %> </div><br>
  <div> <%= link_to "Medications Index", admin_medications_path %> </div><br>
  <div> <%= link_to "Notes Index", admin_note_index_path %> </div><br>
</div>

<div class="footer">
</div>
