<div class="column-container">
  <table class="form-table">
    <%= form_for [current_user, @therapist] do |f| %>
      <tr>
        <th><%= f.label :name %></th>
        <th><%= f.text_field :name, class: "entry-form" %></th>
      </tr>
      <tr>
        <th><%= f.label "Specialty" %></th>
        <th><%= f.select :specialty, ["PT", "OT", "SLP"], {}, class: "entry-form" %></th>
      </tr>
      <tr>
        <th><%= f.label :location %></th>
        <th><%= f.text_field :location, class: "entry-form" %></th>
      </tr>
      <tr>
        <th><%= f.label :phone %></th>
        <th><%= f.text_field :phone, class: "entry-form" %></th>
      </tr>
      <tr>
        <th colspan="2"><%= f.submit id: "submit-button" %></th>
      </tr>
    <% end %>
  </table>
</div>
