<div class="header">
  <h1>My Care Team
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
    <%= link_to "Home", patient_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>

<div class="column-container">
  <h2>DOCTOR(S):</h2>
  <table class="provider-table">
    <tr class="column-headers">
      <th>Name</th>
      <th>Specialty</th>
      <th>Experience</th>
      <th></th>
    </tr>
    <tr>
      <% @patient.doctors.each do |doctor|  %>
      <th><%= doctor.first_name %> <%= doctor.last_name %></th>
      <th><%= doctor.specialty %></th>
      <th><%= doctor.years_experience %> yrs.</th>
      <th>
        <%= link_to "Edit", edit_patient_doctor_path(@patient, doctor), id: "edit-link" %></br>
        <%= link_to "Remove", patient_doctor_path(@patient, doctor), method: "delete", id: "delete-link"%>
      </th>
      <% end  %>
    </tr>
  </table>

  <%= link_to "New Doctor?", new_patient_doctor_path(@patient), id: "new-doctor" %>


  <h2>THERAPIST(S):</h2>
  <table class="provider-table">
    <tr class="column-headers">
      <th>Name</th>
      <th>Type of Therapy</th>
      <th>Experience</th>
      <th></th>
    </tr>
    <% @therapists.each do |therapist| %>
    <tr>
      <th><%= therapist.first_name %> <%= therapist.last_name %></th>
      <th><%= therapist.therapy_type %></th>
      <th><%= therapist.years_experience %> yrs.</th>
      <th>
        <%= link_to "Edit", edit_patient_therapist_path(@patient, therapist), id: "edit-link" %></br>
        <%= link_to "Remove", patient_therapist_path(@patient, therapist), method: "delete", id: "delete-link"%>
      </th>
    </tr>
    <% end %>
  </table>

  <%= link_to "New Therapist?", new_patient_therapist_path(@patient), id: "new-therapist" %>


</div>
