<div class="header">
  <h1>My Care Team
    <%= render partial: "partials/header"%>
  </h1>
</div>

<div class="column-container">
  <h2>DOCTOR(S):</h2>

  <% current_user.doctors.each do |doctor|  %>
  <div class="doctor-search">
    <h4><%= doctor.first_name %> <%= doctor.last_name %> (<%= doctor.specialty %>)</h4>
    <%= doctor.location %>
    <%= form_for [current_user, doctor, doctor.note] do |f| %>
      <%= f.label "Notes:" %></br>
      <%= f.text_area :contents %></br>
      <%= f.submit "Update Note" %>
    <% end %>
    <%= link_to "Edit", edit_patient_doctor_path(current_user, doctor), id: "edit-link" %></br>
    <%= link_to "Remove", patient_doctor_path(current_user, doctor), method: "delete", id: "delete-link"%>
  </div>
  <% end  %>

  <%= link_to "New Doctor?", new_patient_doctor_path(current_user), id: "new-doctor" %>

  <h2>THERAPIST(S):</h2>
    <% current_user.therapists.each do |therapist| %>
    <div class="doctor-search">
      <h4><%= therapist.first_name %> <%= therapist.last_name %> (<%= therapist.therapy_type %>)</h4>
      <%= form_for [current_user, therapist, therapist.note] do |f| %>
        <%= f.label "Notes:" %></br>
        <%= f.text_area :contents %></br>
        <%= f.submit "Update Note" %>
      <% end %>
      <%= link_to "Edit", edit_patient_therapist_path(current_user, therapist), id: "edit-link" %></br>
      <%= link_to "Remove", patient_therapist_path(current_user, therapist), method: "delete", id: "delete-link"%>
    </div>
    <% end %>

  <%= link_to "New Therapist?", new_patient_therapist_path(current_user), id: "new-therapist" %>
</div>
