<div class="header">
  <h1>My Care Team
    <%= render partial: "partials/header"%>
  </h1>
</div>

<div class="column-container">
  <h2>DOCTOR(S):</h2>
  <table class="provider-table">
    <tr class="column-headers">
      <th>Name</th>
      <th>Specialty</th>
      <th></th>
    </tr>
      <% current_user.doctors.each do |doctor|  %>
      <tr>
        <th><%= doctor.first_name %> <%= doctor.last_name %></th>
        <th><%= doctor.specialty %></th>
        <th>
          <%= link_to "Edit", edit_patient_doctor_path(current_user, doctor), id: "edit-link" %></br>
          <%= link_to "Remove", patient_doctor_path(current_user, doctor), method: "delete", id: "delete-link"%>
        </th>
      </tr>
      <% end  %>
  </table>

  <%= link_to "New Doctor?", new_patient_doctor_path(current_user), id: "new-doctor" %>


  <h2>THERAPIST(S):</h2>
  <table class="provider-table">
    <tr class="column-headers">
      <th>Name</th>
      <th>Specialty</th>
      <th></th>
    </tr>
    <% @therapists.each do |therapist| %>
    <tr>
      <th><%= therapist.first_name %> <%= therapist.last_name %></th>
      <th><%= therapist.therapy_type %></th>
      <th>
        <%= link_to "Edit", edit_patient_therapist_path(current_user, therapist), id: "edit-link" %></br>
        <%= link_to "Remove", patient_therapist_path(current_user, therapist), method: "delete", id: "delete-link"%>
      </th>
    </tr>
    <% end %>
  </table>

  <%= link_to "New Therapist?", new_patient_therapist_path(current_user), id: "new-therapist" %>


</div>
