<div class="header">
  <h1>Admin: All current doctors
    <%= render partial: "admin/admin_header" %>
  </h1>
</div>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Specialty</th>
    <th>Location</th>
    <th>Patient Count</th>
  </tr>
<% @doctors.each do |doctor| %>
  <tr>
    <th><%= doctor.first_name %></th>
    <th><%= doctor.last_name %></th>
    <th><%= doctor.specialty %></th>
    <th><%= doctor.location %></th>
    <th><%= doctor.patients.count %></th>
  </tr>
<% end %>
</table>
