<%= render partial: "partials/admin_header" %>

<%= link_to "Exercises", admin_exercises_path, class: "nav-bar-links" %>

<table class="form-table">
<%= form_for @exercise, url: admin_exercises_path do |f| %>
<tr>
  <th><%= f.label :name %></th>
  <th><%= f.text_field :name, class: "entry-form" %></th>
</tr>
<tr>
  <th><%= f.label :description %></th>
  <th><%= f.text_area :description, class: "entry-form" %></th>
</tr>
<tr>
  <th><%= f.label "Image URL:"%></th>
  <th><%= f.text_field :image, class: "entry-form" %></th>
</tr>
<tr>
  <th><%= f.submit "Submit" %></th>
</tr>
<% end %>

</table>

<div class="footer">
</div>
