<div class="column-container">

<h2>Search for PubMed Articles</h2>
  <%= form_tag do %>
    <%= label_tag "Search Terms:" %>
    <%= text_field_tag :search %>
    <%= label_tag "Year:" %>
    <%= text_field_tag :year %>
    <%= submit_tag "Search!" %>
<% end  %>

</div>
</br>
<% @articles.each do |article| %>
  <p><%= link_to article[1], "https://www.ncbi.nlm.nih.gov/pubmed/#{article[0]}/"%></p>
<% end %>
