<div class="column-container">
  <div class="article-search-box">
    <h3>PubMed Article Search:</h3>
    <%= form_tag do %>
      <%= text_field_tag :search, nil, placeholder: "Search terms", class: "entry-form" %>
      <%= number_field_tag :year, nil, placeholder: "Year", class: "entry-form" %>
      <%= submit_tag "Search!" %>
    <% end  %>
  </div>
</div>
<br><br>
<hr>
<% @articles.each do |article| %>
  <p><%= link_to article[1], "https://www.ncbi.nlm.nih.gov/pubmed/#{article[0]}/"%></p>
<% end %>
