<div class="column-container">
  <table class="form-table">
  <%= form_tag do %>
    <tr>
      <th><%= label_tag "City:" %></th>
      <th><%= text_field_tag :city, "", class: "entry-form" %></th>
    </tr>
    <tr>
      <th><%= label_tag "State:" %></th>
      <th><%= select_tag :state, options_for_select(@states), class: "entry-form"%> </th>
    </tr>
    <tr>
      <th><%= label_tag "Specialty:" %></th>
      <th><%= select_tag :specialty, options_for_select(@specialties), class: "entry-form"%> </th>
    </tr>
    <tr>
      <th><%= submit_tag "Search!" %></th>
    </tr>
  <% end  %>
</table>
  <% if @doctors.empty? == false %>
    <h2><%= @specialty.capitalize%>(s) in: <%=@city.capitalize%>,  <%=@state.upcase%></h2>
    <% @doctors.each do |name, info| %>
      <section class="doctor-search">
        <h4 class="name"><%= name %></h4>
        <div class="location"><%= info[:location] %></div>
        <div class="phone"><%= info[:phone_number] %></div></br>
        <% if current_user %>
          <%= button_to "Add to My Care Team", patient_doctors_path(current_user),
              params: {:find_doctor => [name, @specialty, info[:location], info[:phone_number]]} %>
          </br>
        <% end %>
        <div id="show-insurance">INSURANCE(S) ACCEPTED
          <div id="insurance-info">
            <% if info[:insurance].empty? %>
              Sorry, no insurance information found.
            <% else %>
              <% info[:insurance].each do |insurance| %>
                <li><%= insurance.capitalize %></li>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  <% end %>
</div>
