<div class="column-container">
  <table class="form-table">
  <%= form_tag do %>
    <tr>
      <th><%= label_tag "City:" %></th>
      <th><%= text_field_tag :city, "", class: "entry-form" %></th>
    </tr>
    <tr>
      <th><%= label_tag "State:" %></th>
      <th><%= select_tag :state, options_for_select(@states), class: "entry-form"%> </th>
    </tr>
    <tr>
      <th><%= label_tag "Specialty:" %></th>
      <th><%= select_tag :specialty, options_for_select(@specialties), class: "entry-form"%> </th>
    </tr>
    <tr>
      <th><%= submit_tag "Search!" %></th>
    </tr>
  <% end  %>
</table>
  <% if @doctors != [] %>
    <h2><%= @specialty.capitalize%>(s) in: <%=@city.capitalize%>,  <%=@state.upcase%></h2>
    <% @doctors.each do |doctor| %>
      <div class="doctor-search">
        <h4><%= doctor[0] %></h4>
        <p><%= doctor[1] %></p>
        <p><%= doctor[2] %></p>
      </div>
    <% end %>
  <% end %>
</div>
