<div class="column-container">
    <h3>Search National Database of Providers:</h3>
    <%= form_tag do %>
    <div class="column-form">
      <div><%= text_field_tag :city, "", placeholder: "City", class: "entry-form" %></div>
      <div><%= select_tag :state, options_for_select(@states), prompt: "State", class: "entry-form"%></div>
      <div><%= select_tag :specialty, options_for_select(@specialties), prompt: "Specialty", class: "entry-form"%></div>
      <div><%= submit_tag "Search!", id: "submit-button" %></div>
    </div>
    <% end  %>
    <hr>

  <% if @doctors.empty? == false %>
    <h2><%= @specialty.capitalize%>(s) in: <%=@city.capitalize%>,  <%=@state.upcase%></h2>
    <% @doctors.each do |doctor| %>
      <section class="doctor-search">
        <h4 class="name"><%= doctor.name %></h4>
        <div class="location"><%= doctor.location %></div>
        <div class="phone"><%= doctor.phone %></div></br>
        <% if current_user %>
          <%= button_to "Add to My Care Team", patient_doctors_path(current_user),
              params: {:find_doctor => [doctor.name, @specialty, doctor.location, doctor.phone]} %>
          </br>
        <% end %>
        <div class="show-insurance">Insurance(s) Accepted
          <div class="insurance-info">
            <% if doctor.insurances.empty? %>
              Sorry, no insurance information found.
            <% else %>
              <% doctor.insurances.each do |insurance| %>
                <li><%= insurance.capitalize %></li>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>
    <% end %>
  <% end %>
</div>
