<div class="footer">
  <%= link_to "Drs", patient_doctors_path(current_user), class: "nav-bar-links" %>
  <%= link_to "Meds", patient_medications_path(current_user), class: "nav-bar-links" %>
  <%= link_to "Appts", patient_appointments_path(current_user), class: "nav-bar-links" %>
  <%= link_to "Exer", patient_exercises_path(current_user), class: "nav-bar-links" %>
  <%= link_to "Read", patient_articles_path(current_user), class: "nav-bar-links" %>
</div>
