<div class="header">
  <h1> Create new account
  <%= link_to "Home", "/", class: "nav-bar-links"%>
  </h1>
</div>

<div class="column-container">
  <h2>Are you a Healthcare Provider?</h2>
  <%= select_tag "provider", options_for_select(["No", "Yes"]), class: "provider-dropdown" %>

  <div class="new-patient-form">
    <%= form_tag(users_path, method: :post) do %>
      <%= text_field_tag "patient[first_name]", nil, placeholder: "Enter First Name" %>
      <%= text_field_tag "patient[last_name]", nil, placeholder: "Enter Last Name" %>
      <%= text_field_tag "user[username]", nil, placeholder: "Username" %>
      <%= password_field_tag "user[password]", nil, placeholder: "Password" %>
      <%= submit_tag "Submit"%>
    <% end %>
  </div>

  <div class="new-doctor-form">
    <%= form_tag(users_path, method: :post) do %>
      <%= text_field_tag "doctor[name]", nil, placeholder: "Enter Full Name" %>
      <%= text_area_tag "doctor[location]", nil, placeholder: "Enter Full Address" %>
      <%= text_field_tag "doctor[phone]", nil, placeholder: "Phone Number" %>
      <%= select_tag "doctor[specialty]", options_for_select(@specialties), class: "entry-form"%>
      <%= text_field_tag "user[username]", nil, placeholder: "Username" %>
      <%= password_field_tag "user[password]", nil, placeholder: "Password" %>
      <%= submit_tag "Submit"%>
    <% end %>
  </div>

</div>
