<div class="header">
  <%= link_to "Home", "/", class: "nav-bar-links"%>
</div>

<div class="column-container">
  <h2>Are you a Healthcare Provider?</h2>
  <%= select_tag "provider", options_for_select(["No", "Yes"]), class: "provider-dropdown" %>

  <div class="new-patient-form">
    <div class="column-form">
      <%= form_tag(users_path, method: :post) do %>
      <div><%= text_field_tag "patient[first_name]", nil, placeholder: "Enter First Name", class: "entry-form" %></div>
      <div><%= text_field_tag "patient[last_name]", nil, placeholder: "Enter Last Name", class: "entry-form" %></div>
      <div><%= text_field_tag "user[username]", nil, placeholder: "Username", class: "entry-form" %></div>
      <div><%= password_field_tag "user[password]", nil, placeholder: "Password", class: "entry-form" %></div>
      <div><%= submit_tag "Submit", id: "submit-button"%></div>
      <% end %>
    </div>
  </div>

  <div class="new-doctor-form">
    <%= form_tag(users_path, method: :post) do %>
    <div class="column-form">
      <div><%= select_tag "doctor[specialty]", options_for_select(@specialties), prompt: "Select Specialty", class: "entry-form"%></div>
      <div><%= text_field_tag "doctor[name]", nil, placeholder: "Enter Full Name", class: "entry-form" %></div>
      <div><%= text_area_tag "doctor[location]", nil, placeholder: "Enter Full Address", class: "entry-form" %></div>
      <div><%= text_field_tag "doctor[phone]", nil, placeholder: "Phone Number", class: "entry-form" %></div>
      <div><%= text_field_tag "user[username]", nil, placeholder: "Username", class: "entry-form" %></div>
      <div><%= password_field_tag "user[password]", nil, placeholder: "Password", class: "entry-form" %></div>
      <div><%= submit_tag "Submit", id: "submit-button"%></div>
    </div>
    <% end %>
  </div>
</div>

<div class="footer">
</div>
