<div class="header">
  <h1>My Medications
    <%= render partial: "partials/header"%>
  </h1>
</div>

<div class="column-container">
  <h2>TODAY: <%= Date.today.strftime('%A, %b %d, %Y') %> </h2>
  <table class="medication-table">
    <th colspan=2, id="med-reminder">REMEMBER TO TAKE:</h2>
    <% @medications.each do |medication| %>
    <tr>
      <th><%=medication.freq_per_day%></th>
      <th><%=medication.medication.name%></th>
    </tr>
    <% end  %>
  </table>

  <h3> <%= current_user.first_name %>'s Medications </h3>
  <table class="medication-table">
    <tr class="headers">
      <th>Name</th>
      <th>Dosage</th>
      <th></th>
    </tr>
  <% @medications.each do |medication| %>
    <tr>
      <th><%=medication.medication.name%></th>
      <th><%=medication.dosage%></th>
      <th>
        <%= link_to "Edit", edit_patient_medication_path(current_user, medication), id: "edit-link" %></br>
        <%= link_to "Remove", patient_medication_path(current_user, medication), method: "delete", id: "delete-link"%>
      </th>
    </tr>
  <% end  %>
  </table>

  <%= link_to "New Medication?", new_patient_medication_path(current_user), id: "new-medication" %>
</div>
