<div class="header">
  <h1>
    <%= link_to "Logout", root_path, class: "nav-bar-links" %>
    <%= link_to "Home", patient_path(@patient), class: "nav-bar-links"%>
    <%= link_to "My Medications", patient_medications_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>

<h2>Add New Medication</h2>

<%= form_for [@patient, @medication] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
    <%= f.fields_for :medications do |patient_med| %>
      <%= patient_med.label :dosage %>
      <%= patient_med.text_field :dosage %>
      <%= patient_med.label :freq_per_day %>
      <%= patient_med.number_field :freq_per_day %>
    <% end  %>
  <%= f.submit "Add!" %>
<% end %>
