<%= render partial: "partials/patient_header"%>
<div class="column-container">
  <div class="column-form">
    <%= form_for [current_user, @medication] do |f| %>
      <div><%= f.text_field :name, placeholder: "Medication Name", class: "entry-form" %></div>
      <div><%= f.fields_for :new_medication do |patient_med| %></div>
        <div><%= patient_med.text_field :dosage, placeholder: "Dosage(mg)", class: "entry-form" %></div>
        <div><%= patient_med.number_field :freq_per_day, placeholder: "Frequency(per day)", class: "entry-form" %></div>
      <% end %>
    <%= f.submit id: "submit-button" %>
    <% end %>
  </div>
</div>

<%= render partial: "partials/patient_footer"%>
