<div class="header">
  <h3>PD Health Tracker</h3>
</div>

<div class="column-container" id="login-container">
  <div class="homepage-section">
    <%= link_to "Login with Google", '/auth/google_oauth2', class: "loginBtn loginBtn--google" %>
    <br><br>
    <%= link_to "Login with Facebook", '/auth/google_oauth2', class: "loginBtn loginBtn--facebook" %>
    <br><br>
    <%= form_tag do %>
      <%= text_field_tag "username", nil, placeholder: "Enter Username", class: "form-table" %><br>
      <%= password_field_tag "password", nil, placeholder: "Password", class: "form-table" %><br>
      <%= submit_tag "Log In", class: "login-button"%>
    <% end  %>
    <br>
    <%= link_to "Create New Account", new_user_path, class: "login-button" %>
  </div>
</div>

<div class="footer">
</div>
