<div class="header">
  <h1>Health Tracker (Parkinson's)</h1>
</div>

<div class="column-container">
  <div class="homepage-section">
    <%= link_to "Login with Google", '/auth/google_oauth2', class: "loginBtn loginBtn--google" %>
    <br><br>
    <%= link_to "Login with Facebook", '/auth/google_oauth2', class: "loginBtn loginBtn--facebook" %>
    <br><br>
    <%= form_tag do %>
      <%= text_field_tag :username, nil, placeholder: "Enter Username", class: "form-table" %><br>
      <%= password_field_tag :password, nil, placeholder: "Password", class: "form-table" %><br>
      <%= submit_tag "Log In", class: "button"%>
    <% end  %>
    <br>
    <%= link_to "Create New Account", new_patient_path, class: "button" %>
  </div>
</div>
