<%= render partial: "partials/doctor_header" %>
<div class="column-container">
  <h3>New Message for: <%= @patient.full_name %> </h3>
  <div class="column-form">
    <%= form_for [current_user, @message] do |f| %>
      <div><%= f.text_field :title, placeholder: "Message title", id: "message-title" %></div>
      <div><%= f.text_area :content, placeholder: "Message contents...", id: "message-contents" %></div>
      <%= f.hidden_field :patient, value: @patient.id %>
      <div><%= f.submit "Send!", id: "message-send-button"%></div>
    <% end  %>
  </div>
</div>
<%= render partial: "partials/doctor_footer" %>
