<div class="header">
  <h1> Hi, <%= current_user.first_name %>
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
  </h1>

  <div class="dropdown">
    <button class="dropbutton">My Info</button>
    <div class="dropdown-content">
      <%= link_to %>

    </div>
  </div>

</div>

<div class="column-container">
  <h2><%= Date.today.strftime('%A, %b %d, %Y') %></h2>
  <hr>
  <h2 class="med-reminder">Remember to Take:</h2>
    <% @medications.each do |medication| %>
    <table>
      <tr>
        <th id="med-name"><%=medication.medication.name.upcase%>: </th>
        <% medication.freq_per_day.times do %>
          <th id="pill-icon"><%= render partial: "svg/pill" %></th>
        <% end %>
      </tr>
    </table>
    <% end  %>
  <hr>
  <% if @appointments.empty? == false %>
    <h2>Today's Appointments:</h2>
    <% @appointments.each do |appointment| %>
      <li><%= appointment.date_time %> with
        <%= appointment.appointable.name %>
      </li>
    <% end %>
    <hr>
  <% end %>
</div>
