<div class="header">
  <h1> Hi <%= @patient.first_name %>
  <%= link_to "Logout", root_path, id: "logout" %>
</div>

<div class="column-container">
  <%= link_to "My Care Team", root_path, class: "main-page-link" %>
  <%= link_to "My Medications", patient_medications_path(@patient), class: "main-page-link"  %>
  <%= link_to "Exercise Tools", root_path, class: "main-page-link"  %>
  <%= link_to "Parkinson's News", root_path, class: "main-page-link"  %>
  <%= link_to "Nearby Resources", root_path, class: "main-page-link"  %>
  <%= link_to "My Journal", root_path, class: "main-page-link"  %>
  <%= link_to "Community", root_path, class: "main-page-link"  %>
</div>
