<div class="header">
  <div class="dropdown">
    <button class="dropbutton"><%= current_user.first_name %>'s Resources</button>
    <div class="dropdown-content">
      <%= link_to "Care Team", patient_therapists_path(current_user), class: "drop-links"%></br>
      <%= link_to "Medications", patient_medications_path(current_user), class: "drop-links" %><br>
      <%= link_to "Appointments", patient_appointments_path(current_user), class: "drop-links" %><br>
      <%= link_to "Activity Tracker", patient_activities_path(current_user), class: "drop-links" %><br>
      <%= link_to "Today's Workout", patient_exercises_path(current_user), class: "drop-links" %><br>
      <%= link_to "Twitter", patient_article_path(current_user), class: "drop-links" %><br>
      <%= link_to "Article Search", patient_articles_path(current_user), class: "drop-links" %><br>
      <%= link_to "Find a Care Provider", patient_find_doctor_index_path(current_user), class: "drop-links" %><br>
    </div>
  </div>
  <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
</div>

<div class="column-container">
  <h2><%= Date.today.strftime('%A, %b %d, %Y') %> </h2>

  <h2 class="med-reminder">Remember to Take:</h2>
    <% @medications.each do |medication| %>
    <table>
      <tr>
        <th id="med-name"><%=medication.medication.name.upcase%>: </th>
        <% medication.freq_per_day.times do %>
          <th id="pill-icon"><%= render partial: "svg/pill" %></th>
        <% end %>
      </tr>
    </table>
    <% end  %>
  <hr>
  <% if @appointments.empty? == false %>
    <h2>Today's Appointments:</h2>
    <% @appointments.each do |appointment| %>
      <li><%= appointment.date_time %> with
        <%= appointment.appointable.name %>
      </li>
    <% end %>
    <hr>
  <% end %>
</div>
