<div class="header">
  <h1> Hi, <%= @patient.first_name %>
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
  </h1>
</div>

<div class="column-container">
  <%= link_to "My Care Team", patient_therapists_path(@patient), class: "main-page-link" %>
  <%= link_to "My Medications", patient_medications_path(@patient), class: "main-page-link"  %>
  <%= link_to "My Exercises", root_path, class: "main-page-link"  %>
  <%= link_to "Today's Workout", patient_exercises_path(@patient), class: "main-page-link"  %>
  <%= link_to "Parkinson's News", error_path, class: "main-page-link"  %>
  <%= link_to "Nearby Resources", error_path, class: "main-page-link"  %>
  <%= link_to "Community", error_path, class: "main-page-link"  %>
</div>
