<%= render partial: "/partials/header" %>
<div class="column-container-left">
  <% if !@medications.empty? %>
    <div class="homepage-box">Medication Reminders:</div>
      <% @medications.each do |medication| %>
        <div id="med-name">Take <%=medication.freq_per_day%> x <%=medication.medication.name.capitalize%></div>
        <br>
      <% end  %>
  <% end %>

  <% if @appointments.empty? == false %>
    <div class="homepage-box">Today's Appointments:</div>
    <% @appointments.each do |appointment| %>
      <div id="today-appt"><%= appointment.date_time.strftime('%I:%M %p') %> with
        <%= appointment.appointable.name %>
      </div>
    <% end %>
  <% end %>

  <div class="homepage-box">Your Recent Activity Levels:</div>
  <%= line_chart @activity_graph, xtitle: "Date Performed", ytitle: "Duration(min)" %>

</div>
