<div class="column-container">
  <%= form_for [current_user, @doctor] do |f| %>
  <table class="form-table">
    <tr>
      <th><%= f.label :name %></th>
      <th><%= f.text_field :name, class: "entry-form" %></th>
    </tr>
    <tr>
      <th><%= f.label :specialty %></th>
      <th><%= f.select :specialty, options_for_select(@specialties), {}, class: "entry-form"%></th>
    </tr>
    <tr>
      <th><%= f.label :phone %></th>
      <th><%= f.text_field :phone, class: "entry-form" %></th>
    </tr>
    <tr>
      <th><%= f.label :location %></th>
      <th><%= f.text_field :location, class: "entry-form" %></th>
    </tr>
    <tr>
      <th><%= f.submit id: "submit-button" %></th>
    </tr>
  <% end %>
</table>
</div>
