<%= render partial: "partials/patient_header"%>

<div class="column-container">
  <br>
  <div class="">
    <%= link_to "New Doctor?", new_patient_doctor_path(current_user), id: "new-doctor", class: "edit-link" %>
    <%= link_to "Find Doctor Tool", patient_find_doctor_index_path(current_user), id: "new-doctor", class: "delete-link" %>
  </div>
  <% current_user.doctors.each do |doctor|  %>
  <div class="healthprovider-box">
    <h3><%= doctor.name %> (<%= doctor.specialty %>)
      <%= link_to "Edit", edit_patient_doctor_path(current_user, doctor), method: :get, class: "edit-link" %>
      <%= link_to "Remove", patient_doctor_path(current_user, doctor), method: "delete", class: "delete-link"%>
      <hr class="line">
    </h3>
    <%= doctor.location %></br>
    <%= doctor.phone %>
    <div class="row-container">
      <%= form_for [current_user, doctor, doctor.note] do |f| %>
        <%= f.text_area :contents, placeholder: "Enter notes here", class: "note-box" %></br>
        <%= f.submit "Update Note" %>
      <% end %>
    </div>
  </div>
  <% end  %>
</div>

<%= render partial: "partials/patient_footer"%>
