<%= render partial: "partials/patient_header"%>

<div class="column-container-left">
  <h3>Enter Information for a New Doctor:</h3>
  <%= form_for [current_user, @doctor] do |f| %>
  <table class="form-table">
    <tr>
      <th><%= f.text_field :name, placeholder: "Full name", class: "entry-form", id: "doctor-search-name" %></th>
    </tr>
    <tr>
      <th><%= f.text_field :phone, placeholder: "Phone number", class: "entry-form", id: "doctor-search-phone" %></th>
    </tr>
    <tr>
      <th><%= f.text_field :location, placeholder: "Full address", class: "entry-form", id: "doctor-search-location" %></th>
    </tr>
    <tr>
      <th><%= f.select :specialty, options_for_select(@specialties), {}, class: "entry-form", id: "doctor-search-specialty"%></th>
    </tr>
    <tr>
      <th><%= f.submit "Add Doctor", id: "submit-button" %></th>
    </tr>
  <% end %>
  </table>
  <br><br>
  <a id="new-doctor">Click to see all doctors in our system:</a>

  <div class="doctor-db">
  </div>

  <% if @all_doctors %>
    <div class="all-doctors">
      <% @all_doctors.each do |doctor| %>
      <section class="doctor-search">
        <h4 class="name"><%= doctor.name %></h4>
        <div class="specialty"><%= doctor.specialty %></div>
        <div class="location"><%= doctor.location %></div>
        <div class="phone"><%= doctor.phone %></div></br>
        <%= button_to "Add to My Care Team", "new_doctor", params: {doctor_id: doctor.id}, id: "submit-button" %>
        <br>
      </section>
      <% end %>
    </div>
  <% end %>

</div>

<%= render partial: "partials/patient_footer"%>
