<%= render partial: "partials/doctor_header"%>

<div class="column-container">
  <h3>Change an Appointment:</h3>
  <div class="column-form">
    <%= form_for [current_user, @appointment] do |f|%>
      <div><%= f.date_field :date, class: "entry-form" %></div>
      <div><%= f.time_field :time,class: "entry-form" %></div>
      <div><%= f.collection_select :patient_id, current_user.patients, :id, :full_name, {}, class: "entry-form" %></div>
      <div><%= f.submit id: "submit-button"%></div><br>
    <% end %>
    <div><%= button_to "Delete Appointment", doctor_appointment_path(current_user, @appointment), method: :delete, id: "delete-button" %></div>
  </div>
</div>

<%= render partial: "partials/doctor_footer"%>
