<%= render partial: "partials/patient_header"%>

<div class="column-container">
  <%= month_calendar events: @appointments do |date, appointments| %>
    <%= date.day %>
    <% appointments.each do |appointment| %>
      <div class="appointment_on_calendar">
        <%= appointment.time.strftime("%I:%M %p")%>
      </div>
      <% unless appointment.past_appointment? %>
        <%= button_to "Cancel", patient_appointment_path(current_user, appointment), method: :delete%>
      <% end %>
      <br>
    <% end %>
  <% end %>
</div>

<%= render partial: "partials/patient_footer"%>
