<%= render partial: "partials/patient_header"%>

<div class="column-container">
  <%= month_calendar events: @appointments do |date, appointments| %>
    <%= date.day %>
    <% appointments.each do |appointment| %>
      <div class="appointment-on-calendar">
        <%= appointment.time.strftime("%I:%M %p")%>
        <div class="appointment-info">
          <h4><%= appointment.doctor.name %></h4>
        </div>
      </div>
      <% unless appointment.past_appointment? %>
        <%= button_to "Cancel", patient_appointment_path(current_user, appointment), method: :delete,
            data: {confirm: "Are you sure you want to DELETE this appointment?"}%>
      <% end %>
      <br>
    <% end %>
  <% end %>
</div>

<%= render partial: "partials/patient_footer"%>
