<div class="header">
  <h1>My Appointments
    <%= render partial: "partials/header"%>
  </h1>
</div>

<% @appointments.each do |appointment| %>
  <li><%= appointment.date_time.strftime("%b %e, %Y --> %I:%M %p") %> with: <%= appointment.appointable.name %>
      <%= link_to "Edit", edit_patient_appointment_path(current_user, appointment) %>
      <%= link_to "Delete", patient_appointment_path(current_user, appointment), method: :delete %>
  </li>
<% end %>

<%= link_to "New Appointment", new_patient_appointment_path %>
