<%= render partial: "partials/header"%>

<div class="column-container">

  <h2>Your Activity Levels</h2>
  <%= line_chart @activity_graph, xtitle: "Date Performed", ytitle: "Duration(min)" %>
  <%= link_to "Log New Activity", new_patient_activity_path(current_user), id: "new-doctor" %>

  <h2>List of All Activities</h2>
  <%= form_tag "/patients/activity_filter", method: "get" do %>
    <%= select_tag :activity_sort, options_for_select(["Description", "Date_Performed", "Duration"]) %>
    <%= submit_tag "Sort" %>
  <% end  %>
  <table class="provider-table">
    <tr class="column-headers">
      <th>Description</th>
      <th>Date Performed</th>
      <th>Duration(min)</th>
    </tr>
  <% @activities.each do |activity| %>
    <tr>
      <th><%= activity.description %></th>
      <th><%= activity.date_performed %></th>
      <th><%= activity.duration %></th>
      <th>
        <%= link_to "Edit", edit_patient_activity_path(current_user, activity), id: "edit-link" %></br>
        <%= link_to "Remove", patient_activity_path(current_user, activity), method: "delete", id: "delete-link"%>
      </th>
    </tr>
  <% end  %>
  </table>
</div>
