<div class="header">
  <h1>Today's Workout
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
    <%= link_to "Home", patient_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>

<div class="column-container">
<% @exercises.each do |exercise| %>
  <div class="exercise">
    <h4><%= exercise.name %></h4>
    <img src="<%=exercise.image%>">
    <%= exercise.description %>
    <%= link_to "DONE!", patient_exercise_path(@patient, exercise), method: :put %>
  </div>
<% end  %>

<h2>My Activity Levels</h2>
<% if @my_exercises %>
  <% @my_exercises.each do |exercise| %>
    <%= exercise.name  %>
  <% end  %>
<% end  %>

</div>
