<div class="header">
  <h1>My Exercises
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
    <%= link_to "Home", patient_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>

<div class="column-container">
<h2> Today's Workout </h2>
<% @exercises.each do |exercise| %>
<%= exercise.name %>
<%= exercise.description %>
<%= exercise.image %>
<% end  %>

<h2>My Activity Levels</h2>

</div>
