<div class="header">
  <h1>Today's Workout
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
    <%= link_to "Home", patient_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>

<div class="column-container">
<% @workout.each do |exercise| %>
  <div class="exercise" id="<%= exercise.name %>">
    <h4><%= exercise.name %></h4>
    <img src="<%=exercise.image%>">
    <%= exercise.description %>
  </div>
<% end  %>
<%= link_to "Log Exercise", new_patient_exercise_path(@patient) %>
</div>
