<div class="header">
  <h1>Today's Workout
    <%= render partial: "partials/header"%>
  </h1>
</div>

<div class="column-container">
<% @workout.each do |exercise| %>
  <div class="exercise" id="<%= exercise.name %>">
    <h4><%= exercise.name %></h4>
    <img src="<%=exercise.image%>">
    <%= exercise.description %>
  </div>
<% end  %>
</div>
