<div class="header">
  <h1>Today's Workout
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
    <%= link_to "Home", patient_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>

<div class="column-container">
  <h3>Log Today's Exercise</h3>
  <%= form_for [@patient, @exercise] do |f| %>
    <%= f.fields_for :exercise do |ex| %>
      <%= ex.label "Total(min)" %>
      <%= ex.number_field :duration %>
      <%= ex.label "Date" %>
      <%= ex.date_field :date_performed %>
    <% end  %>
    <%= f.submit "Log Exercise" %>
  <% end  %>

</div>
