<div class="header">
  <h1>Admin: All Therapists
    <%= render partial: "admin/admin_header" %>
  </h1>
</div>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Therapy Type</th>
    <th>Years Experience</th>
    <th>Patient Count</th>
  </tr>
<% @therapists.each do |therapist| %>
  <tr>
    <th><%= therapist.first_name %></th>
    <th><%= therapist.last_name %></th>
    <th><%= therapist.therapy_type %></th>
    <th><%= therapist.years_experience %></th>
    <th><%= therapist.patients.count %></th>
  </tr>
<% end %>
</table>
